<html>
    <head>
        <title> Flota la Macarena SA</title>
        <h1>Flota la Macarena SA</h1>
        <body>
            <section>
                <a href="/comprar_pasaje"> Compra tu tiquete </a>
                <a href="/tiquetear_pasaje"></a>
                <br>
                <a href="/mostrar_disponibles">Total puestos disponibles</a>
                <br>
                <a href="puestos_ventana">Disponibles junto a ventana </a>
                <br>
                <a href="puestos_pasillo">Disponibles junto a pasillo</a>
                <br>
                <a href="lista_pasajeros"> Pasajeros a bordo</a>
            </section>
        </body>
    </head>
</html>