<html>
    <header>
        <h1>Venta de tiquetes</h1>
    </header>
        <body>
            <form action="tiquetear_pasaje" method="POST">
                <label>Silla</label>
                <input type="number" name="puesto">
                <label>A nombre de: </label>
                <input type="text" name="nombre">
                <label>Apellido </label>
                <input type="text" name="apellido">
                <br>
                <label>Cedula </label>
                <input type="number" name="cedula">
                <label>Telefono </label>
                <input type="number" name="telefono">
                <button type="submit">Enviar</button>
            </form>
        </body>
 
</html>